<h1>Edit Pokemon</h1>
 
<%= form_with(model: @pokemon, local: true) do |form| %>
 
  <% if @pokemon.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@pokemon.errors.count, "error") %> prohibited
        this pokemon from being saved:
      </h2>
      <ul>
        <% @pokemon.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>
 
  <p>
    <%= form.label :number %><br>
    <%= form.text_area :number %>
  </p>
 
  <p>
    <%= form.submit %>
  </p>
 
<% end %>
 
<%= link_to 'Back', pokemon_index_path %>
