<h1>New Pokemon</h1>
<%= form_with scope: :pokemon, url: pokemon_index_path, local: true do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>

  <p>
    <%= form.label :number %><br>
    <%= form.text_area :number %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>

<%= link_to 'Back', pokemon_index_path %>
