<p>
  <strong>Name:</strong>
  <%= @pokemon.name %>
</p>

<p>
  <strong>Number:</strong>
  <%= @pokemon.number %>
</p>

<p>
  <strong>Types:</strong>
  <% @pokemon.types.each do |type| %>
    <%= type.name  =%>
  <% end %>
</p>

<p>
  <strong>Height:</strong>
  <%= @pokemon.height %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @pokemon.weight %>
</p>

<%= link_to 'Edit', edit_pokemon_path(@pokemon) %> |
<%= link_to 'Back', pokemon_index_path %>
